
body {
  background-color: #dcd0ff;
}

h1 {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-style: bold;
}

p {
  color: black;
  text-align: center;
  font-family: Aptos;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
