* {
  box-sizing: border-box;
}

body {
  font-family: "Aptos";
  font-size: 17px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'content'
    'pic'
    'footer';
  background-color: white;
  gap: 10px;  
}

.header {
  grid-area: header;
  background-color: #dcd0ff;
  text-align: center;
  color: #000000;
}

.header > h1 {
  font-size: 20px;
}

.menu {
  grid-area: menu;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #dcd0ff;
  color: #000000;
}

.menu li:hover {
  background-color: #bca6ff;
}

.content {
  grid-area: content;
}

.content > h1 {
  font-size: 17px;
  margin-bottom: 7px;
}

.content > p {
  margin-bottom: 7px;
}

.pic {
  grid-area: pic;
  border: 1px solid #dcd0ff;
  background-color: #ffffff;
  padding: 10px;
  width: 350px; 
  height: auto;
}

.pic > h2 {
  font-size: 20px;
}

.pic li {
  margin-bottom: 5px;
}

.pic img {
  width: 100%;       
  max-width: 250px;  
  display: block;
  margin: 0 auto;    
}

.footer {
  grid-area: footer;
  background-color: #dcd0ff;
  color: #000000;
  text-align: center;
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .pic {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .pic {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}